.container {
  max-width: 810px;
  padding: 0 24px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 22px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.btnEdit {
  padding-left: 24.5px;
  padding-right: 24.5px;
}

@screen tablet {
  .container {
    margin-top: 32px;
    padding: 0 40px;
  }
}
